<p class="full-size">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span >URL Shortner</span>
    <span class="spacer"></span>
    <button mat-flat-button color="white" routerLink="/signup">Sign Up</button>
    <span style="padding: 0 3px;"></span>
    <button mat-raised-button color="primary" routerLink="signin">Sign In</button>
  </mat-toolbar>
</p>
