/* .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
} */

.example-full-width {
  width: 100%;
}

.inline {
  display: inline-block;
}

.button {
  text-align: center;
  margin: auto;
  position: relative;
  vertical-align: top;
}

mat-slide-toggle {
  margin: 5px 0;
}