<div class="center">
  <form class="example-form">
    <div>
      <mat-slide-toggle color="primary" (change)="changed()">
        Custom URL
      </mat-slide-toggle>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input
          type="text"
          matInput
          placeholder="ATM"
          [required]="true"
          [(ngModel)]="data.username"
          name="Username"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="password"
          [required]="true"
          [(ngModel)]="data.password"
          name="Password"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>URL</mat-label>
        <input
          type="url"
          matInput
          [formControl]="urlFormControl"
          placeholder="Ex. google.com"
          [(ngModel)]="data.originalUrl"
          name="originalUrl"
        />
        <mat-error
          *ngIf="
            urlFormControl.hasError('pattern') &&
            !urlFormControl.hasError('required')
          "
        >
          Please enter a valid URL
        </mat-error>
        <mat-error *ngIf="urlFormControl.hasError('required')">
          URL is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="example-full-width"
        appearance="fill"
        *ngIf="this.isChecked"
      >
        <mat-label>Custom URL</mat-label>
        <input
          type="url"
          matInput
          placeholder="Ex. xyz"
          [required]="false"
          [(ngModel)]="data.customUrl"
          name="customUrl"
        />
      </mat-form-field>

      <div class="button">
        <button mat-raised-button color="primary" (click)="onShorten()">
          Shorten
        </button>
      </div>
    </div>
  </form>

  <app-clipboard [value]="this.shortUrl" *ngIf="this.shortUrl"></app-clipboard>
</div>
