<form class="example-form">
  <div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>URL</mat-label>
      <input type="url" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. google.com">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid URL
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        URL is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="button">
      <button mat-raised-button color="primary">Submit</button>
    </div>
  </div>
</form>
