<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Flask SQL Tutorial</title>
  </head>
  <body>
      <form action="{{ url_for ('get_profile_data')}}" method="post">
          <h5>Enter the user details</h5>
          <div>
              <input type="text" name="username" placeholder="username" required>
          </div>
          <div>
              <input type="text" name="password" placeholder="password" required>
          </div>
          <div>
              <button >Submit</button>
          </div>
      </form>
  </body>

</html>
